:root {
    --background-color: white;
    --font-header: 'Ubuntu', 'Open Sans', sans-serif;
    --font-base: 'Lato', 'Open Sans', sans-serif;
    --font-section: 'Comfortaa', 'Open Sans', sans-serif;
    --font-size: 16px;
    --navbar-img-width: 50px;
    --color-base-large: #FD870A;
    --color-base-small: #fdf153;
    --color-base-border: #E68420;
    --color-font: #2A3C3F;
    --color-font-shadow: #112429;
}

body {
    background-color: white;
    font-family: var(--font-base);
}

.header {
    background-color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper.stats {
    background: linear-gradient(100deg, rgba(253,187,46,0.5) 0%, rgba(252,93,190,1) 30%, rgba(110,60,209,1) 100%);
    position: relative;
}

.img.square {
    width: 20px;
    top: 50%;
    right: 19%;
    position: absolute;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 7px 29px 0px;
    transform: rotate(39deg);
}
.img.green-square {
    width: 14px;
    top: 20%;
    left: 19%;
    position: absolute;
    box-shadow: rgba(225, 225, 225, 0.25) 0px 54px 55px, rgba(225, 225, 225, 0.12) 0px -12px 30px, rgba(225, 225, 225, 0.12) 0px 4px 6px, rgba(225, 225, 225, 0.17) 0px 12px 13px, rgba(225, 225, 225, 0.09) 0px -3px 5px;
    transform: rotate(39deg);
}
.img.triangle {
    width: 27px;
    top: 50%;
    left: 10%;
    position: absolute;
    transform: rotate(-15deg);
}
.img.checkbox {
    width: 50px;
    height: 50px;
    border: none;
    transform: rotate(20deg);
    position: absolute;
    right: 2%;
    bottom: 11%;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 7px 29px 0px;
}

.img.dot {
    width: 7px;
    aspect-ratio: 1/1;
    top: 76%;
    right: 43%;
}
.wrapper.stats > span {
    width: 50px;
    height: 10px;
}

.wrapper div {
    border: none;
}

h1 {
    top: auto;
    left: auto;
}

#period-bar {
    display: flex;
    margin: 15px auto;
    padding: 10px 15px;
    width: 100%;
    overflow-x: auto;
    list-style: none;
    justify-content: space-between;
}

.period {
    text-decoration: none;
    letter-spacing: 0.5px;
    color: rgba(46, 13, 95, 0.6);
    text-align: center;
    padding: 10px 5px;
    margin: 0 5px;
    border: solid 1px #e0e4f7;
    border-radius: 20px;
    display: block;
    min-width: 110px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.period.selected {
    color: #2E0D5F;
    background-color: #FFE188;
    border: solid 1px #F7E0BD;
    font-weight: 600;
}

#period-display {
    position: absolute;
    right: 0;
    margin: 0 25px;
    font-size: 14px;
    color: #112429a2;
    font-style: italic;
}

.stats-display {
    margin: 40px 20px 10px 20px;
}

.stats-display h2 {
    font-family: var(--font-section);
    font-size: 18px;
}

#overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#overview>div {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    background-color: #ece5fce1;
}

#overview>div i {
    font-size: 25px;
    margin: 0;
}

.item-value {
    font-weight: 600;
    font-size: 19px;
    margin: 10px 4px 6px 4px;
}

.item-name {
    color: #8299A1;
    margin: 0 4px;
    font-size: 15px;
}

#add-new-habit-button {
    background-color: rgba(164, 179, 185, 1);
    box-shadow: none;
    cursor: none;
}

#completion-rate-bar-chart {
    padding: 5px;
    padding-bottom: 110px;
    margin: 10px 20px 0 20px;
    
}

#completion-rate-bar-chart > h2 {
    font-size: 22px;
}

#barChart {
    background: rgba(234, 225, 252, 0.5);
    border-radius: 10px;
    width: 100%;
    margin: 0;
    padding: 10px 5px 5px 5px;
}