:root {
    --background-color: white;
    --font-header: 'Ubuntu', 'Open Sans', sans-serif;
    --font-base: 'Lato', 'Open Sans', sans-serif;
    --font-section: 'Comfortaa', 'Open Sans', sans-serif;
    --font-size: 16px;
    --navbar-img-width: 50px;
    --color-base-large: #FD870A;
    --color-base-small: #fdf153;
    --color-base-border: #E68420;
    --color-font: #2A3C3F;
    --color-font-shadow: #112429;
}

body {
    background-color: white;
    font-family: var(--font-base);
}

.header {
    height: auto;
    background-color: white;
}

h1 {
    color: black;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

#period-bar {
    display: flex;
    margin: 15px auto;
    padding: 10px 15px;
    width: 100%;
    overflow-x: auto;
    list-style: none;
    justify-content: space-between;
}

.period {
    text-decoration: none;
    letter-spacing: 0.5px;
    color: rgba(46, 13, 95, 0.6);
    text-align: center;
    padding: 10px 5px;
    margin: 0 5px;
    border: solid 1px #e0e4f7;
    border-radius: 20px;
    display: block;
    min-width: 110px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.period.selected {
    color: #2E0D5F;
    background-color: #FFE188;
    border: solid 1px #F7E0BD;
    font-weight: 600;
}

#period-display {
    position: absolute;
    right: 0;
    margin: 0 25px;
    font-size: 14px;
    color: #112429a2;
    font-style: italic;
}

.stats-display {
    margin: 40px 20px 10px 20px;
}

.stats-display h2 {
    font-family: var(--font-section);
    font-size: 18px;
}

#overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#overview>div {
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    background-color: #ece5fce1;
}

#overview>div i {
    font-size: 25px;
    margin: 0;
}

.item-value {
    font-weight: 600;
    font-size: 19px;
    margin: 15px 4px;
}

.item-name {
    color: #8299A1;
    margin: 0 4px;
    font-size: 15px;
}

#add-new-habit-button {
    background-color: rgba(164, 179, 185, 1);
    box-shadow: none;
    cursor: none;
}

#completion-rate-bar-chart {
    padding: 0 15px;
    padding-bottom: 110px;
    margin: 40px 20px 10px 20px;
}
#barChart {
    width: 100%;
    max-width: 760px;
}