:root {
    --background-color: white;
    --font-header: 'Ubuntu', sans-serif;
    --font-base: 'Lato', sans-serif;
    --font-size: 16px;
    --navbar-img-width: 50px;
    --color-base-large: #FD870A;
    --color-base-small: #fdf153;
    --color-base-border: #E68420;
    --color-font: #2A3C3F;
    --color-font-shadow: #112429;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-base);
    position: relative;

}

.body-container {
    max-width: 760px;
    margin: 0 auto;
}

.decorated-img {
    transform: rotate(30deg);
    width: 90px;
    background-color: transparent;
    position: absolute;
    right: 13%;
    top: 42px;
    filter: drop-shadow(0 0 0.7rem white);
    z-index: 5;
}

h1 {
    font-size: 27px;
    font-family: var(--font-header);
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 20px;
}

.header p {
    z-index: 5;
    color: white;
    position: absolute;
    letter-spacing: 0.2px;
    word-spacing: 0.5px;
    left: 20px;
    bottom: 0;
}

.showable-dates {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 15px 0 30px 0;
    background-color: #F3F8F9;
}

.showable-dates a {
    text-decoration: none;
    color: #805BE2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px;
    padding: 2px;
    border: solid 1px #A192CB;
    border-radius: 15px;
}

.showable-dates a h3 {
    margin: 2px;
    font-weight: 400;
}

.showable-dates a p {
    margin: 2px;
    font-weight: 400;
}

.add-new-habit {
    background-color: #EAE5FA;
    height: 60vh;
    margin: 0;
    margin-top: -15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.add-new-habit a {
    text-decoration: none;
    color: #525D60;
    font-size: 50px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.add-new-habit p {
    color: #525D60;
    font-style: italic;
}

.add-new-habit.clicked {
    display: none;
}

.habit-field {
    display: none;
}

.habit-field.opened {
    height: 100vh;
    background: white;
    margin: 0;
    margin-top: -15px;
    padding: 20px;
    overflow-y: auto;
    position: relative;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.habit-items {
    margin: 15px 0;
    z-index: 10;
    position: relative;
    width: 100%;
}

.habit-item {
    height: 40px;
    margin-bottom: 15px;
}

.habit-input {
    position: relative;
    display: flex;
    transition: all 0.25s ease-in-out;
    margin: 20px auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: stretch;
}

.habit-input>input {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 90%;
    outline: none;
    display: inline-block;
    font-size: 18px;
    border: solid 2px #D2C4FA;
    border-radius: 10px;
    z-index: 10;
    padding: 10px;
    margin-right: 10px;
}

.save-button {
    border-radius: 10px;
    border: none;
    background-color: #8152FF;
    color: #FCFCFF;
}

.habit-display {
    position: relative;
    display: flex;
    transition: all 0.25s ease-in-out;
    margin: 0;
    padding: 0 15px;
    width: 100%;
}

.habit-display:hover {
    background-color: #ECE5FC;
    border-radius: 10px;
}

.remove-button {
    display: none;
}

.remove-button.clicked {
    border: none;
    background-color: transparent;
    color: #8e8b8b;
    font-size: 23px;
    display: block;
    right: -17px;
    top: -21px;
    position: absolute;
    padding: 10px;
}

.display-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: solid 1px rgba(233, 236, 235, 0.4);
    padding: 15px 0;
}


.habit-id {
    display: none;
}

.habit-name {
    display: inline-block;
    margin: 0 5px;
    overflow-x: auto;
}

.habit-name>h3 {
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 7px;
}

.habit-name>h3::first-letter {
    text-transform: capitalize;
}

.habit-result {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    color: #8299A1;
}

.habit-done {
    border: none;
    width: 0;
}

.habit-checkbox {
    transform: scale(2.5);
    display: inline-block;
    margin-right: 20px;
    padding: 0;
}

.habit-checkbox[type=checkbox] {
    accent-color: #FFDC08;
    margin-right: 20px;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

.header {
    height: 200px;
    position: relative;
    background-color: #F3F8F9;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(122, 71, 222, 1) 0%, rgba(191, 123, 212, 1) 100%);
    z-index: 0;
    position: absolute;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.wrapper div {
    aspect-ratio: 1/1;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 60%;
    width: 10px;
}

div .dot {
    width: 5px;
    aspect-ratio: 1/1;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
}

.wrapper div:nth-child(1) {
    top: 0;
    left: 80%;
    width: 10px;
}

.wrapper div:nth-child(2) {
    top: 30px;
    left: 90%;
    animation: animate 3s linear infinite;
    width: 15px;
}

.wrapper div:nth-child(3) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
    width: 12px;
}

.wrapper div:nth-child(4) {
    width: 11px;
    top: 66%;
}

.wrapper div:nth-child(5) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
}

.daily-progress {
    margin: 10px auto;
    padding: 0 10px 25px 10px;
    width: 100%;
    border-bottom: solid 1px #E9ECEB;
}

.daily-progress-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.daily-progress-title p {
    margin: 0;
    color: #8299A1;
    font-size: 15px;
}

.progress-bar {
    width: 100%;
    border-radius: 7px;
    transition: all 0.2s ease-out;
    height: 8px;
    position: relative;
}

.progress-bar::-webkit-progress-bar {
    background-color: #E3EEF2;
    width: 100%;
    border-radius: 7px;
    transition: all 0.2s ease-out;
    height: 8px;
    position: relative;
}

.progress-bar::-webkit-progress-value {
    background-color: #FC5DBE;
    border-radius: 7px;
    box-shadow: 0.5px 0.5px 2px 2px #F6DBEF;
}

.progress-bar::-moz-progress-bar {
    background-color: #E3EEF2;
    width: 100%;
    border-radius: 7px;
    transition: all 0.2s ease-out;
    height: 8px;
    position: relative;
}

.progress-bar::-moz-progress-value {
    background-color: #FC5DBE;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px #F6DBEF;
}

.progress-bar::-ms-progress-bar {
    background-color: #E3EEF2;
    width: 100%;
    border-radius: 7px;
    transition: all 0.2s ease-out;
    height: 8px;
    position: relative;
}

.progress-bar::-ms-progress-value {
    background-color: #FC5DBE;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px #F6DBEF;
}

.progress-bar::-o-progress-bar {
    background-color: #E3EEF2;
    width: 100%;
    border-radius: 7px;
    transition: all 0.2s ease-out;
    height: 8px;
    position: relative;
}

.progress-bar::-o-progress-value {
    background-color: #FC5DBE;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 3px #F6DBEF;
}

.progress-bar::after {
    content: "\2605";
    font-size: 25px;
    position: absolute;
    right: -8px;
    top: -15px;
    color: transparent;
    display: block;
    transition: all 0.5s ease;
}

.progress-bar.completed::after {
    color: #F4BB0C;
    animation: transformation 0.5s ease-in-out 0s 1 normal backwards;
    -webkit-animation: transformation 0.5s ease-in-out 0s 1 normal backwards;
    -ms-animation: transformation 0.5s ease-in-out 0s 1 normal backwards;
    -moz-animation: transformation 0.5s ease-in-out 0s 1 normal backwards;
    -o-animation: transformation 0.5s ease-in-out 0s 1 normal backwards;
}

@keyframes transformation {
    from {
        width: 30px;
        font-size: 35px;
        color: #47B39A;
    }

    to {
        width: 20px;
        color: #FFE187;
    }
}

@-webkit-keyframes transformation {
    from {
        -webkit-width: 30px;
        font-size: 35px;
        -webkit-color: #47B39A;
    }

    to {
        -webkit-width: 20px;
        -webkit-color: #FFE187;
    }
}

@-ms-keyframes transformation {
    from {
        -ms-width: 30px;
        font-size: 35px;
        -ms-color: #47B39A;
    }

    to {
        -ms-width: 20px;
        -ms-color: #FFE187;
    }
}

@-moz-keyframes transformation {
    from {
        -moz-width: 30px;
        font-size: 35px;
        -moz-color: #47B39A;
    }

    to {
        -moz-width: 20px;
        -moz-color: #FFE187;
    }
}

@-o-keyframes transformation {
    from {
        -o-width: 30px;
        font-size: 35px;
        -o-color: #47B39A;
    }

    to {
        -o-width: 20px;
        -o-color: #FFE187;
    }
}