:root {
    --background-color: white;
    --font-header: 'Tiempos Headline', sans-serif;
    --font-base: 'Lato', sans-serif;
    --font-size: 16px;
    --navbar-img-width: 50px;
    --color-base: #3D4177;
    --color-hover: #313061;
    --color-icon: #4E449C;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-base);
    color: var(--color-base);
}

/* your habit site */
.tool-button {
    color: rgb(78, 68, 156, 0.8);
    font-size: 19px;
    text-decoration: none;
    padding: 0 10px;
}

.back-button {
    font-size: 20px;
    position: absolute;
    left: 0;
    text-decoration: none;
    color: rgb(78, 68, 156, 0.8);
    padding: 0 15px;
    margin: auto 10px;
}

.habit-name input {
    border: none;
    outline: none;
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-base);
    width: 100%;
}

.habit-repeat {
    position: relative;
    margin: 15px auto;
}
.repeat-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main h2 {
    font-size: 17px;
    margin: 0;
}

.repeat-intro ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    border: solid 1px rgba(128, 128, 128, 0.416);
    border-radius: 10px;
    height: 40px;
}

.repeat-intro li>p {
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
    width: 80px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.repeat-intro li {
    width: 100%;
}

/* weekly */
.weekly-checkbox {
    display: none;
}

#weekly:hover {
    background-color: rgba(128, 128, 128, 0.416);
    border-radius: 10px;
    height: 100%;
    padding: 0;
    margin: 0;
}

.weekly-checkbox.clicked {
    width: 95%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.weekly-checkbox label {
    border-bottom: solid 1px rgba(128, 128, 128, 0.416);
    height: 27px;
}

.weekly-checkbox label>input {
    margin: 0 20px 0 0;
    transform: scale(1.5);
    display: inline-block;
}

.weekly-checkbox input[type=checkbox] {
    accent-color: var(--color-icon);
}

/* monthly */
.monthly-checkbox {
    display: none;
}

.monthly-checkbox input {
    display: none;
}

#monthly:hover {
    background-color: rgba(128, 128, 128, 0.416);
    border-radius: 10px;
    height: 100%;
}

.monthly-checkbox.clicked {
    width: 95%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
}

.monthly-checkbox.clicked label {
    width: 35px;
    aspect-ratio: 1/1;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthly-checkbox input[type=checkbox]:checked+label {
    background-color: var(--color-icon);
    color: white;
}

@media screen and (min-width: 601px) {
    .tool-button {
        font-size: 22px;
    }
    .back-button {
        font-size: 22px;
    }
    .habit-name input {
        font-size: 25px;
    }
    main h2 {
        font-size: 22px;
    }
    .habit-repeat ul {
        width: 230px;
        justify-content: center;
        align-items: center;
    }
    .habit-repeat li>p {
        font-size: 20px;
    }
    .habit-repeat li>p {
        padding: 10px;
    }
    .weekly form>label {
        height: 32px;
        font-size: 20px;
    }
    .monthly.clicked form {
        margin: 18px;
    }
    .monthly.clicked form>label {
        font-size: 22px;
        width: 37px;
    }
}